PORT=3000
DB_USER=toby
DB_PASSWORD=toby3312
DB_HOST=localhost
DB_NAME=healthconnection
DB_PORT=5432
NODE_ENV='production'
JWT_SECRET=0435aba1906d016a4145a0c9bc46fed3
JWT_RECOVERY_PASS_SECRET=lavidaesasiyyoquieroasi
MAILER_USER='example.mail@gmail.com'
MAILER_PASSWORD='dvme exam cgyn wxgv'
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000/health_connection/v2




