<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Connection - Agenda tu cita</title>
    <link rel="stylesheet" href="agendamiento-citasStyle.css">
    <link rel="shortcut icon" href="../Images/tab_icon.png" type="image/x-icon">
</head>
<body>
    <div id="navbar"></div>

    <div class="parent-request">

        <div class="appointment-container">

            <div class="form">

                <h2>Agenda tu cita</h2>
                <section class="appointment-form">

                    <form action="historialSolicitudes.html" method="post">
                        <div class="form-group">
                            <label for="specialty">Selecciona la especialidad</label>
                            <select id="specialty" name="specialty">
                                <option value="optometria">Optometría</option>
                                <option value="odontologia">Odontología</option>
                                <option value="valoraciones">Valoraciones para cirugía</option>
                                <option value="chequeo">Chequeo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>¿Quieres solicitar un médico?</label>
                            <label><input type="radio" name="specific-doctor" value="si"> Sí</label>
                            <label><input type="radio" name="specific-doctor" value="no"> No</label>
                            <select id="preferred-doctor" name="preferred-doctor" disabled>
                                <option value="">Selecciona el médico de tu preferencia</option>
                                <option value="">Juan Velez</option>
                                <option value="">Pit</option>
                                <option value="">Remy</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="center">¿Dónde te gustaría ser atendido?</label>
                            <select id="center" name="center">
                                <option value="">Selecciona un centro de atención</option>
                                <option value="">Soacha</option>
                                <option value="">Bosa Laureles</option>
                                <option value="">Kennedy</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="date">Fecha de la cita:</label>
                            <input type="date" id="date" name="date">
                        </div>
                        <div class="form-group">
                            <label for="time">Hora de la cita:</label>
                            <input type="time" id="time" name="time">
                        </div>
                        <button type="submit"><a href="./historialSolicitudes.html">Agendar cita</a></button>
                    </form>
                </section>
            </div>
        </div>
    </div>
    
    <script src="./appMedicalAppointmentScheduling.js">
        
    </script>
</body>
</html>
