<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./CSS/modifyPagosStyle.CSS">
    <title>Detalles de Pagos</title>
</head>
<body>
    <nav id="navbar"></nav>
    <section class="edit-container">
        <section id="edit">
            <h2>Edita</h2>
            <form action="#" method="post">
                <div class="form-group">
                    <label for="specialty">Servicio</label>
                    <select id="specialty" name="specialty">
                        <option value="optometria">Cita</option>
                        <option value="odontologia">Examen</option>
                        
                    </select>
                </div>
                <div class="form-group">
                    <label>¿Quieres solicitar un médico?</label>
                    <label><input type="radio" name="specific-doctor" value="si"> Sí</label>
                    <label><input type="radio" name="specific-doctor" value="no"> No</label>
                    <select id="preferred-doctor" name="preferred-doctor" disabled>
                        <option value="">Selecciona el médico de tu preferencia</option>
                        <option value="">Juan Velez</option>
                        <option value="">Pit</option>
                        <option value="">Remy</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="center">¿Lugar de servicio?</label>
                    <select id="center" name="center">
                        <option value="">Selecciona un centro de atención</option>
                        <option value="">Soacha</option>
                        <option value="">Bosa Laureles</option>
                        <option value="">Kennedy</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">Fecha de la cita:</label>
                    <input type="date" id="date" name="date">
                </div>
                <div class="form-group">
                    <label for="description">Descripcion:</label>
                    <input type="text" id="description" name="description" value="Cita de medicina general">
                </div>
                <div class="form-group">
                    <label for="description">Valor:</label>
                    <input type="text" id="description" name="10.00$" value="Cita de medicina general">
                </div>
                
                <div class="buttons">
                    <button type="submit" class="confirm"><a href="./historialSolicitudes.html">Confirmar</a></button>
                    <button type="submit" class="cancel"><a href="./historialSolicitudes.html">Cancelar</a></button>
                </div>
            </form>
        </section>
    
        
    
        
    </section>
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const navbarDiv = document.getElementById('navbar');
            /* Verificamos si navbar existe y cargamos el contenido */
            if (navbarDiv) {
                fetch('navbar-prototype.html')
                   // Convertimos la respuesta en un archivo de texto
                    .then(response => response.text())
                    .then(data => {
                        // Modificamos el contenido HTML de navbarDiv
                        navbarDiv.innerHTML = data;
                        
                    })
                    // Colocamos el catch en caso de que la solicitud falle
                    .catch(error => console.error('Error cargando el navbar:', error));
            }
            
        });
    </script>
</body>
</html>




