<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Connection - Solicita tu examen</title>
    <link rel="stylesheet" href="./CSS/solicitud-examenesStyle.css">
    <link rel="shortcut icon" href="../Images/tab_icon.png" type="image/x-icon">
</head>
<body>
    <div id="navbar"></div>

    <div class="parent-request">
        
        <div class="exam-container">

            <div class="form">
                
                <h2>Autoriza tu examen</h2>
                <section class="appointment-form">

                    <form>
                        <!-- Identification Field -->
                        <div class="form-group">
                            <label for="identificacion">Identificación</label>
                            <input type="text" id="identificacion" name="identificacion" value="1012345424">
                        </div>
                        
                        <!-- Exam Type Selection -->
                        <div class="form-group">
                            <label for="tipo-examen">Tipo de examen</label>
                            <select id="tipo-examen" name="tipo-examen">
                                <option value="optometria">Optometría</option>
                                <option value="odontologia">Odontología</option>
                                <option value="ginecologia">Ginecología</option>
                                <option value="radiografia">Radiografía</option>
                                <option value="tag">Tag</option>
                            </select>
                        </div>
                        
                        <!-- Time Slot Selection -->
                        <div class="form-group">
                            <label for="jornada">Selecciona la jornada en la que deseas que se realice tu examen</label>
                            <select id="jornada" name="jornada">
                                <option value="diurna">Diurna (6AM-12M)</option>
                                <option value="tarde">Tarde (12PM-6PM)</option>
                                <option value="noche">Noche (6PM-10PM)</option>
                            </select>
                        </div>
                        
        
                        <div class="form-group">
                            <label>¿Quieres solicitar un médico?</label>
                            <label><input type="radio" name="specific-doctor" value="si"> Sí</label>
                            <label><input type="radio" name="specific-doctor" value="no"> No</label>
                            <select id="preferred-doctor" name="preferred-doctor" disabled>
                                <option value="">Selecciona el médico de tu preferencia</option>
                                <option value="">Juan Velez</option>
                                <option value="">Pit</option>
                                <option value="">Remy</option>
                            </select>
                        </div>
                        
                        <!-- Exam Order Input -->
                        <div class="form-group">
                            <label for="orden-examen">Ingresa tu orden de examen</label>
                            <input type="file" id="orden-examen" name="orden-examen">
                        </div>
                        
                        <!-- Submit Button -->
                        <button type="submit"><a href="./historialSolicitudes.html">Autorizar</a></button>
                    </form>
                </section>
                
            </div>
        </div>
        </div>
        
    
    <script >
        document.addEventListener('DOMContentLoaded', () => {
            const  navBarDiv = document.getElementById('navbar');

            if(navBarDiv){
                fetch('./navbar-prototype.html').then(respuesta => respuesta.text()).then(datos =>{
                    navBarDiv.innerHTML=datos;
                })

                .catch(failure => console.failure('Falla en el sistema al consultar el Navbar'))
            }

        })

        document.querySelectorAll('input[name="specific-doctor"]').forEach((elem) => {
            elem.addEventListener("change", function(event) {
                var preferredDoctorSelect = document.getElementById("preferred-doctor");
                if (event.target.value === "si") {
                    preferredDoctorSelect.disabled = false;
                } else {
                    preferredDoctorSelect.disabled = true;
                }
            });
        });
</script>
</body>
</html>