body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
}

header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px;
}

.health-connection-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 5px;
    cursor: pointer;
}

.user-img {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px;
    border-radius: 50%;
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
}

.appointment-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fffbe6;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group select,
.form-group input[type="date"],
.form-group input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}
